<div class="container w-100">
    
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog! </h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Voluptates rerum debitis 
                maiores. Consequuntur debitis fuga tempora 
                optio explicabo, nam voluptatum ad sequi 
                esse eos, beatae 
                a cupiditate tempore perspiciatis libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sint ex a cupiditate alias, 
                vel veritatis ea est, saepe, 
                delectus sunt consequuntur sed dolore ducimus dolores? Eos beatae similique quaerat!Lorem
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui saepe ipsa voluptates fugit, tenetur tempora, earum rem, 
                culpa laborum doloribus odit? Pariatur hic natus dolorem exercitationem doloribus officia recusandae sapiente!
            </p>
        </div>
    </div>

</div>

    <div class="parallax"></div>
        <div class="row w-100 mt-5 mb-5">
            <div class="col-md-12 w-100 d-flex justify-content-center">
                <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
            </div>
        </div>

